
<link href="http://getbootstrap.com/2.3.2/assets/css/bootstrap.css" rel="stylesheet">
<link href="http://getbootstrap.com/2.3.2/assets/css/bootstrap-responsive.css" rel="stylesheet">

<div class="container">
  <h2>Users</h2>
  <div id="listing" class="row span10"></div>
  
</div>
<script>
   users = <%= raw @users.as_json.to_json %>;
   
   Model = Backbone.Model.extend({
    urlRoot: '/users',
    defaults: {
      name: '',
      age: 2,
      gender: '',
      address: ''
    }
   });
   Collection = Backbone.Collection.extend({
    model: Model,
    url: '/users'
   });
   collection = new Collection(users);
   
   
   View = Backbone.DataTableView.extend({
    initialize: function () {
        this.dataTableOptions = {
            "aoColumnDefs": [
                { "mData": "name", "sTitle": "Name", "aTargets": [0] },
                { "mData": "age", "sTitle": "Age", "aTargets": [1] },
                { "mData": "gender", "sTitle": "Gender", "aTargets": [2] },
                { "mData": "address", "sTitle": "Address", "aTargets": [3] }
            ]
        };
        console.log(this);
    },
    formTemplate: JST['templates/user'],
    hideEditDeleteColumn: false  
   });
   
   
   view = new View({ collection: collection });
   $('#listing').append(view.render().el);
</script>

