<div class="modal hide fade modal-container">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  </div>

  <div class="modal-body">
  <div class="errors"></div>
    <form method="post" action="#">
      <div class="span">
        <fieldset>
          <label for="name">Name</label>
          <input class="span2" type="text" name="name" value="<%= name %>">
        </fieldset>
      </div>
      <div class="span">
        <fieldset>
          <label for="model">Age</label>
          <input class="span2" type="text" name="age" value="<%= age %>">
        </fieldset>
      </div>
      <div class="span">
        <fieldset>
          <label for="topSpeed">Gender</label>
          <input class="span2" type="text" name="gender" value="<%= gender %>">
        </fieldset>
      </div>
      
      <div class="span">
        <fieldset>
          <label for="topSpeed">Address</label>
          <input class="span2" type="text" name="address" value="<%= address %>">
        </fieldset>
      </div>
      
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn pull-left close-form" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary pull-left save-form">Save</button>
  </div>
</div>
